* {
    box-sizing: border-box;
    text-align: left;
}

body {
    background: #dddddd;
    width: 100%;
}

.header-links {
    position: relative;
    background: white;
    padding: 45px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    border-bottom: 5px solid #cccccc;
}

.my-name {
    float: left;
    position: absolute;
    left: 236px;
    top: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: left;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    width: 300px;
}

.contact {
    position: absolute;
    top: 45px;
    right: 205px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.portfolio {
    position: absolute;
    top: 45px;
    right: 412px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.about {
    position: absolute;
    top: 45px;
    right: 308px;
    font-size: 20px;
    background: white;
    width: 70px;
    float: right;
}

h2 {
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 25px;
}



.fill-in {
    clear: both;
    float: left;
    width: 650px;
    padding: 30px;
    position: relative;
    top: 30px;
    left: 236px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    background-color: #ffffff;
    word-wrap: break-word;
}

.connect-with {
    text-decoration: none;
    color: #4aaaa5;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
}

.aside {
    float: left;
    position: relative;
    top: 30px;
    left: 295px;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    width: 270px;
    background-color: #ffffff
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    border-width:0.5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border-style: solid;
    border-color: #666666;
    margin-left: 4px;
    margin-bottom: 15px;
}

button {
	text-align: center;
	background-color: #4aaaa5;
    border: solid;
    font-size: 16px;
    color: white;
    padding: 16px 40px;
    margin-top: 6px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

footer {
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
}