* {
    box-sizing: border-box;
    text-align: left;
}

body {
    background: #dddddd;
    width: 100%;
}

.header-links {
    position: relative;
    background: white;
    padding: 45px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    border-bottom: 5px solid #cccccc;
}

h1 {
    float: left;
    position: absolute;
    left: 236px;
    top: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: left;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    width: 300px;
}

.contact {
    position: absolute;
    top: 45px;
    right: 205px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.portfolio {
    position: absolute;
    top: 45px;
    right: 412px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.about {
    position: absolute;
    top: 45px;
    right: 308px;
    font-size: 20px;
    background: white;
    width: 70px;
    float: right;
}

.connect-with {
    text-decoration: none;
    color: #4aaaa5;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
}

.aside {
    float: left;
    position: relative;
    top: 30px;
    left: 295px;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    width: 270px;
    background-color: #ffffff
}

.portfolio-links {
    clear: both;
    float: left;
    width: 650px;
    padding: 30px;
    position: relative;
    top: 30px;
    left: 236px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    background-color: #ffffff;
    word-wrap: break-word;
}

.beach-img {
    height: 125px;
    width: 125px;
    clear: both;
    float: left;
}

.link-box {
    width: 125px;
    background: #4aaaa5;
    color: white;
    clear: both;
    position: absolute;
    top: 155px;
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

.websites-img {
    float: left;
    position: relative;
    margin-left: 200px;
}

.websites {
    width: 125px;
    background: #4aaaa5;
    color: white;
    position: absolute;
    top: 155px;
    left: 354px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 8px;
}




footer {
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
}