* {
    box-sizing: border-box;
    text-align: left;
}

body {
    background: #dddddd;
    width: 100%;
}



.my-name {
    float: left;
    position: absolute;
    left: 236px;
    top: 34px;
    font-family: Georgia;
    font-size: 36px;
    text-align: left;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    width: 300px;
}

.header-links {
    width: 1407px;
    position: absolute;
    padding: 45px;
    background: white;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid #cccccc;
}

.contact {
    position: relative;
    float: right;
    font-size: 20px;
    top: 10px;
    right: 145px;
    
}

.portfolio {
    position: relative;
    font-size: 20px;
    float: right;
    top: 10px;
    right: 180px;
}

.about {
    position: relative;
    float: right;
    font-size: 20px;
    top: 10px;
    right: 220px;
}

p {
    color:#777777;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 0px;
}
h2 {
    text-align: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.main-content,
.portfolio-links {
    clear: both;
    float: left;
    width: 650px;
    padding: 30px;
    position: relative;
    top: 140px;
    left: 236px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
    background-color: #ffffff;
    word-wrap: break-word;
}
.fill-in {
    clear: both;
    float: left;
    width: 650px;
    padding: 30px;
    position: relative;
    top: 140px;
    left: 236px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #777777;
    background-color: #ffffff;
    word-wrap: break-word;
}


input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    border-width:0.5px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border-style: solid;
    border-color: #666666;
    margin-left: 4px;
    margin-bottom: 15px;
}

button {
	text-align: center;
	background-color: #4aaaa5;
    border: solid;
    font-size: 16px;
    color: white;
    padding: 16px 40px;
    margin-top: 6px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

.beach-img {
    height: 125px;
    width: 125px;
    clear: both;
    float: left;
}

.me {
    clear: both;
    width: 125px;
    background: #4aaaa5;
    color: white;
    position: absolute;
    top: 160px;
    text-align: center;
    font-size: 25px;
    padding: 2px;
}

.websites-img {
    position: relative;
    float: right;
    
    
}

.websites {
   
    background: #4aaaa5;
    color: white;
    position: absolute;
    top: 155px;
    right: 30px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.interesting-img {
    clear: both;
    position: relative;
    float: left;
    margin-top: 50px;
}

.interesting {
    clear: both;
    position: absolute;
    top: 330px;
    left: 30px;
    background: #4aaaa5;
    text-align: center;
    color: white;
    width: 125px;
    padding: 8px;
}

.happy-hours-img {
    float: right;
    margin-top: 50px;
}

.happy-hours {
    clear: both;
    position: absolute;
    top: 330px;
    right: 30px;
    background: #4aaaa5;
    font-size: 14px;
    text-align: center;
    color: white;
    width: 125px;
    padding: 10px;
}
.img-phil {
    margin-bottom: 10px;
    margin-right: 20px;
    padding-top: 15px;
}

.aside {
    float: left;
    position: relative;
    top: 140px;
    left: 295px;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    width: 270px;
    background-color: #ffffff;
}

footer {
    clear: both;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
    
}