* {
    box-sizing: border-box;
    text-align: left;
}

body {
    background: #dddddd;
    width: 100%;
}



.my-name {
    float: left;
    position: absolute;
    left: 236px;
    top: 14px;
    font-family: Georgia;
    font-size: 36px;
    text-align: left;
    background: #4aaaa5;
    color: white;
    padding: 20px;
    width: 300px;
}

.header-links {
    position: relative;
    padding: 45px;
    background: white;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    border-bottom: 5px solid #cccccc;
}

.contact {
    position: absolute;
    top: 45px;
    right: 205px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.portfolio {
    position: absolute;
    top: 45px;
    right: 412px;
    font-size: 20px;
    background: white;
    width: 80px;
    float: right;
}

.about {
    position: absolute;
    top: 45px;
    right: 308px;
    font-size: 20px;
    background: white;
    width: 70px;
    float: right;
}

p {
    color:#777777;
    padding-right: 20px;
    padding-top: 10px;
    padding-left: 0px;
}
h2 {
    text-align: left;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-bottom: 25px;
}

.main-content {
    clear: both;
    float: left;
    width: 650px;
    padding: 30px;
    position: relative;
    top: 30px;
    left: 236px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #777777;
    background-color: #ffffff;
    word-wrap: break-word;
}

.img-phil {
    margin-bottom: 10px;
    margin-right: 20px;
    padding-top: 15px;

}

.aside {
    float: left;
    position: relative;
    top: 30px;
    left: 295px;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    width: 270px;
    background-color: #ffffff;
}

footer {
    clear: both;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    padding: 20px;
    text-align: center;
    
}